.slide {
  color: white;
  font-family: $font-main;
  height: 550px;
  background-size: cover;
  padding-top: 120px;
  text-align: center;

  .date,
  .location {
	font-size: 20px;
  }

  .slide-title {
	font-family: $font-main;
	font-size: 54px;

	.word1 {
	  font-family: $font-script;
	  font-size: 98px;
	}
  }
}

.schedule-section {
  @include container;
}
.schedule {
  @include span(4 of 12);

  &:last-of-type {
	margin-right: 0;
  }
}