.site-header {
  @include container;
  position: relative;
  padding: 70px 0;

  .nav-icon {
	position: absolute;
	top: 70px;
	left: 70px;

  }

  .logo {
	width: 531px;
	margin: 0 auto;
  }

  .contact-info {
	position: absolute;
	top: 70px;
	right: 70px;

  }


}

.main-navigation {
  display: none;
  width: 100%;
  background: $lt-gray;
  padding: 35px 70px;
  position: absolute;
  z-index: 1;

  .menu {
	@include container;
  }

  ul {
	li {
	  float: left;
	  display: inline-block;
	  a {
		font-size: 16px;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
	  }
	}
  }

  .current_page_item {
	font-family: $font-xbold;
  }
}

/* Important styles */
#toggle {
  display: block;
  width: 19px;
  height: 16px;
  margin: 10px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}
#toggle span:after{
  top: 7px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 1px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(3px, 3px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

.menu-primary-menu-container {
  @include cf();
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  ul {
	li {
	 width: 20%;
	  float: left;
	  display: inline-block;

	  a {
		text-align: center;
		color: black;
	  }
	}
  }
}